<!-- header start -->
<header class="header-home">
	<!-- header-top-area start -->
	<div class="header-top-area hidden-xs">
		<div class="container">
			<div class="row">
				<!-- header-top-left start -->
				<div class="col-lg-6 col-md-6 col-sm-7">
					<div class="header-top-left">
						<div class="phone-number"> Call support free: <span>0829271132</span></div>
					</div>
				</div>
				<!-- header-top-left end -->
				<!-- header-top-right start -->
				<div class="col-lg-6 col-md-6 col-sm-5">
					<div class="header-top-right">
						<!-- <div class="lang-select">
							</div> -->
						<div class="top-menu">
							<ul>
								<li><a href="cart.html">Cart</a></li>
								<li><a href="my-account.html">Login</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- header-top-right end -->
			</div>
		</div>
	</div>
	<!-- header-top-area end -->
	<!-- header-mid-area start -->
	<div class="header-mid-area">
		<div class="container">
			<div class="row">
				<!-- logo start -->
				<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
					<div class="logo">
						<a href="index.html"><img src="https://imgur.com/4R8UV4T.png" alt="" /></a>
					</div>
				</div>
				<!-- logo end -->
				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
					<div class="header-search">
						<form action="#">
							<input type="text" placeholder="Search product..." />
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- header-search end -->
				</div>
			</div>
		</div>
	</div>
	<!-- header-mid-area end -->
	<!-- mainmenu-area start -->
	<div class="mainmenu-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="mainmenu">
						<nav>
							<ul>
								<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
								<li><a routerLink="/about" routerLinkActive="active">about</a></li>
								<li><a>Shop</a>
								</li>
								<li><a>Contact</a></li>
								<li><a routerLink="/manage" routerLinkActive="active">Manage</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- mainmenu-area end -->
</header>
<!-- header end -->
<!-- HOME SLIDER -->
<div class="slider-wrap">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="https://imgur.com/bzREhY2.jpg" alt="slide">

                    <div class="tp-caption lfb carousel-caption-inner" data-x="150" data-y="550" data-speed="800" data-start="1700" data-easing="easeInOutBack" style=" font-size: 17px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- END HOME SLIDER -->
<!-- broadcamp area start-->
<div class="broadcamp-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>About Us</h2>
				<h4><a routerLink="/home" routerLinkActive="active">Home </a> /<a routerLink="/about" routerLinkActive="active"> About Us</a></h4>
			</div>
		</div>
	</div>
</div>
<!-- broadcamp area end-->
<!-- About details start -->
<div class="about-details-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="about-details-left">
					<h4>Wellcome to Our Shop Acc Game</h4>
					<p>Ở đây chúng tôi có những acc game chất lượng nhất với chất lượng đảm bảo nhất Vịnh Bắc Bộ.
						Bên cạnh đó chúng tôi đem lại cho bạn trải nghiệm tốt nhất về hệ thống chăm sóc và bảo vệ
						khách hàng. </p>
					<p>Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay.
						By doubtful disposed do juvenile an. Now curiosity you explained im mediate why behaviour.
					</p>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1 col-md-6">
				<div class="about-details-right">
					<img src="https://imgur.com/y4kQYUk.jpg" alt="">
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- About details end -->
	<!-- About tean start -->
	<div class="about-team-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h4>Meet Our Team</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="about-team-single">
						<div class="about-team-img">
							<a class="about-team-popup" href="https://imgur.com/ikYbxmR.jpg">
								<img src="https://imgur.com/ikYbxmR.jpg" alt="">
							</a>
						</div>
						<div class="about-team-text">
							<h4>Sienna Flynn</h4>
							<p>Founder</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="about-team-single">
						<div class="about-team-img">
							<a class="about-team-popup" href="https://imgur.com/ReUQrVy.jpg">
								<img src="https://imgur.com/ReUQrVy.jpg" alt="">
							</a>
						</div>
						<div class="about-team-text">
							<h4>Alfie Ryan</h4>
							<p>Founder</p>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="about-team-single">
						<div class="about-team-img">
							<a class="about-team-popup" href="https://imgur.com/ikYbxmR.jpg">
								<img src="https://imgur.com/ikYbxmR.jpg" alt="">
							</a>
						</div>
						<div class="about-team-text">
							<h4>Abby Foster</h4>
							<p>Founder</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="about-team-single">
						<div class="about-team-img">
							<a class="about-team-popup" href="https://imgur.com/ReUQrVy.jpg">
								<img src="https://imgur.com/ReUQrVy.jpg" alt="">
							</a>
						</div>
						<div class="about-team-text">
							<h4>Gabriel Cooke</h4>
							<p>Founder</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- About tean end -->
	<!-- footer start -->
	<footer>
		<!-- footer-bottom-area start -->
		<div class="footer-bottom-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="copyright">
							<p>Copyright © <a href="https://www.facebook.com/trinhngoc.quang123">TNQ</a>. All Rights
								Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer-bottom-area end -->
	</footer>
	<!-- footer end -->