<!-- header start -->
<header class="header-home">
	<!-- header-top-area start -->
	<div class="header-top-area hidden-xs">
		<div class="container">
			<div class="row">
				<!-- header-top-left start -->
				<div class="col-lg-6 col-md-6 col-sm-7">
					<div class="header-top-left">
						<div class="phone-number"> Call support free: <span>0829271132</span></div>
					</div>
				</div>
				<!-- header-top-left end -->
				<!-- header-top-right start -->
				<div class="col-lg-6 col-md-6 col-sm-5">
					<div class="header-top-right">
						<!-- <div class="lang-select">
							</div> -->
						<div class="top-menu">
							<ul>
								<li><a href="cart.html">Cart</a></li>
								<li><a href="my-account.html">Login</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- header-top-right end -->
			</div>
		</div>
	</div>
	<!-- header-top-area end -->
	<!-- header-mid-area start -->
	<div class="header-mid-area">
		<div class="container">
			<div class="row">
				<!-- logo start -->
				<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
					<div class="logo">
						<a href="index.html"><img src="https://imgur.com/4R8UV4T.png" alt="" /></a>
					</div>
				</div>
				<!-- logo end -->
			</div>
		</div>
	</div>
	<!-- header-mid-area end -->
	<!-- mainmenu-area start -->
	<div class="mainmenu-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="mainmenu">
						<nav>
							<ul>
								<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
								<li><a routerLink="/about" routerLinkActive="active">about</a></li>
								<li><a routerLink="/shop" routerLinkActive="active">Shop</a>
								</li>
								<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
								<li><a routerLink="/manage" routerLinkActive="active">Manage</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- mainmenu-area end -->
</header>
<!-- header end -->
<!-- HOME SLIDER -->
<div class="slider-wrap">
	<div class="fullwidthbanner-container">
		<div class="fullwidthbanner">
			<ul>
				<li data-transition="random" data-slotamount="7" data-masterspeed="1000">
					<img src="https://imgur.com/bzREhY2.jpg" alt="slide">

					<div class="tp-caption lfb carousel-caption-inner" data-x="150" data-y="550" data-speed="800"
						data-start="1700" data-easing="easeInOutBack"
						style=" font-size: 17px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>
<!-- END HOME SLIDER -->
    <!-- 404 start -->
    <div class="error-area section-padding">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-5 col-md-6">
                    <div class="error-text">
                        <div class="error-text-table">
                            <h1>404</h1>
                            <h3>OOPS! PAGE NOT FOUND</h3>
                            <p>
                                Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. </p>
                            <a routerLink="/home" routerLinkActive="active" class="erroe-btn">Back To Homepage</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="error-img">
                        <img src="https://imgur.com/G2LPb1T.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 end -->
<!-- footer start -->
<footer>
    <!-- footer-bottom-area start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="copyright">
                        <p>Copyright © <a href="https://www.facebook.com/trinhngoc.quang123">TNQ</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom-area end -->
</footer>
<!-- footer end -->