<form [formGroup]="productForm" action="" method="POST">
	<h3 style="color : gray">Thêm mới Sản Phẩm</h3>

	<div class="form-group row">
		<label for="1" class="col-sm-2 col-form-label">Name :</label>
		<div class="col-sm-10">
			<input type="text" name="name" class="form-control" formControlName="name" placeholder="Product Name"  > 
      <label *ngIf="productName" class="text-danger"> {{productName}}</label>
    </div>
		</div>

		<div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label">Price :</label>
			<div class="col-sm-10">
				<input type="text" name="price" class="form-control"placeholder="Price" formControlName="price">
         <label *ngIf="productPrice" class="text-danger"> {{productPrice}}</label>
    </div>
			</div>

			<div class="form-group row">
				<label for="inputPassword" class="col-sm-2 col-form-label">Image :</label>
				<div class="col-sm-10">
					<input type="text" name="image" class="form-control" placeholder="Đường dẫn ảnh" formControlName="image">
          <label *ngIf="productImage" class="text-danger"> {{productImage}}</label>
    </div>
				</div>

				<div class="form-group row">
					<label for="inputPassword" class="col-sm-2 col-form-label">Description :</label>
					<div class="col-sm-10">
						<input type="text" name="description" class="form-control" placeholder="Mô tả" formControlName="description">
             <label *ngIf="productDescription" class="text-danger"> {{productDescription}}</label>
    </div>
					</div>
					<button type="submit" class="btn btn-secondary" (click)="addProduct()" [disabled="!productForm.valid">Thêm sản phẩm</button>
</form>