    <!-- header start -->
    <header class="header-home">
        <!-- header-top-area start -->
        <div class="header-top-area hidden-xs">
            <div class="container">
                <div class="row">
                    <!-- header-top-left start -->
                    <div class="col-lg-6 col-md-6 col-sm-7">
                        <div class="header-top-left">
                            <div class="phone-number"> Call support free: <span>0829271132</span></div>
                        </div>
                    </div>
                    <!-- header-top-left end -->
                    <!-- header-top-right start -->
                    <div class="col-lg-6 col-md-6 col-sm-5">
                        <div class="header-top-right">
                            <!-- <div class="lang-select">
							</div> -->
                            <div class="top-menu">
                                <ul>
                                    <li><a href="">Cart</a></li>
                                    <li><a href="">Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- header-top-right end -->
                </div>
            </div>
        </div>
        <!-- header-top-area end -->
        <!-- header-mid-area start -->
        <div class="header-mid-area">
            <div class="container">
                <div class="row">
                    <!-- logo start -->
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="logo">
                            <a href="index.html"><img src="https://imgur.com/4R8UV4T.png" alt="" /></a>
                        </div>
                    </div>
                    <!-- logo end -->
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="header-search">
                            <form action="#">
                                <input type="text" placeholder="Search product..." />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- header-search end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-mid-area end -->
        <!-- mainmenu-area start -->
        <div class="mainmenu-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="mainmenu">
                            <nav>
                                <ul>
                                    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                                    <li><a routerLink="/about" routerLinkActive="active">about</a></li>
                                    <li><a routerLink="/shop" routerLinkActive="active">Shop</a>
                                    </li>
                                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                                    <li><a routerLink="/manage" routerLinkActive="active">Manage</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mainmenu-area end -->
    </header>
    <!-- header end -->
<!-- HOME SLIDER -->
<div class="slider-wrap">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="https://imgur.com/bzREhY2.jpg" alt="slide">

                    <div class="tp-caption lfb carousel-caption-inner" data-x="150" data-y="550" data-speed="800" data-start="1700" data-easing="easeInOutBack" style=" font-size: 17px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- END HOME SLIDER -->
    <!-- features-area start -->
    <div class="features-area pad-60">
        <div class="container">
            <!-- section-heading start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>Tài khoản đang hot</h1>
                        <div class="title-icon">
                            <span><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section-heading end -->
            <div class="row">
                <div class="col-md-12">
                    <div class="features-tab">

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    <div class="features-curosel">
                                        <!-- single-product start -->
                                        <div class="col-lg-3 col-md-3">
                                            <div class="single-product">
                                                <span class="sale-text">Sale</span>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="https://imgur.com/lpaMhAq.jpg" alt="" />
                                                        <img class="secondary-image" src="https://imgur.com/yGyJNwh.jpg" alt="" />
                                                    </a>
                                                    <div class="actions">
                                                        <div class="action-buttons">
                                                            <div class="add-to-cart">
                                                                <a href="#">Add to cart</a>
                                                            </div>
                                                            <div class="add-to-links">
                                                                <div class="add-to-wishlist">
                                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
																</a>
                                                                </div>
                                                                <div class="compare-button">
                                                                    <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="quickviewbtn">
                                                                <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a routerLink="/manage/product/1">Darius/Garen</a></h2>
                                                    <div class="pro-rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">£90.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                        <!-- single-product start -->
                                        <div class="col-lg-3 col-md-3">
                                            <div class="single-product">
                                                <span class="sale-text">Sale</span>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="https://imgur.com/y3ABPTe.png" alt="" />
                                                        <img class="secondary-image" src="https://imgur.com/O2jjBDQ.png" alt="" />
                                                    </a>
                                                    <div class="actions">
                                                        <div class="action-buttons">
                                                            <div class="add-to-cart">
                                                                <a href="#">Add to cart</a>
                                                            </div>
                                                            <div class="add-to-links">
                                                                <div class="add-to-wishlist">
                                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
																</a>
                                                                </div>
                                                                <div class="compare-button">
                                                                    <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="quickviewbtn">
                                                                <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a routerLink="/manage/product/3">Yasuo/Riven</a></h2>
                                                    <div class="pro-rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">£50.00</span>
                                                        <span class="old-price">£80.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                        <!-- single-product start -->
                                        <div class="col-lg-3 col-md-3">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="https://imgur.com/6EX25sv.jpg" alt="" />
                                                        <img class="secondary-image" src="https://imgur.com/Xn0xRNK.jpg" alt="" />
                                                    </a>
                                                    <div class="actions">
                                                        <div class="action-buttons">
                                                            <div class="add-to-cart">
                                                                <a href="#">Add to cart</a>
                                                            </div>
                                                            <div class="add-to-links">
                                                                <div class="add-to-wishlist">
                                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
																</a>
                                                                </div>
                                                                <div class="compare-button">
                                                                    <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="quickviewbtn">
                                                                <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a routerLink="/manage/product/5">Soraka ma xứ</a></h2>
                                                    <div class="pro-rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">£150.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                        <!-- single-product start -->
                                        <div class="col-lg-3 col-md-3">
                                            <div class="single-product">
                                                <span class="sale-text">Sale</span>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="https://imgur.com/ZJvEWVy.jpg" alt="" />
                                                        <img class="secondary-image" src="https://imgur.com/Xn0xRNK.jpg" alt="" />
                                                    </a>
                                                    <div class="actions">
                                                        <div class="action-buttons">
                                                            <div class="add-to-cart">
                                                                <a href="#">Add to cart</a>
                                                            </div>
                                                            <div class="add-to-links">
                                                                <div class="add-to-wishlist">
                                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
																</a>
                                                                </div>
                                                                <div class="compare-button">
                                                                    <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="quickviewbtn">
                                                                <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a routerLink="/manage/product/7">Lux thần vũ trụ</a></h2>
                                                    <div class="pro-rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">£90.00</span>
                                                        <span class="old-price">£120.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- features-area end -->
    <!-- new-product-area start -->
    <div class="new-product-area pad-60">
        <div class="container">
            <!-- section-heading start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>Nhiều người đã xem</h1>
                        <div class="title-icon">
                            <span><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section-heading end -->
            <div class="row">
                <div class="features-curosel">
                    <!-- single-product start -->
                    <div class="col-lg-3 col-md-3">
                        <div class="single-product">
                            <span class="sale-text">Sale</span>
                            <div class="product-img">
                                <a href="#">
                                    <img class="primary-image" src="https://imgur.com/ikYbxmR.jpg" alt="" />
                                    <img class="secondary-image" src="https://imgur.com/ReUQrVy.jpg" alt="" />
                                </a>
                                <div class="actions">
                                    <div class="action-buttons">
                                        <div class="add-to-cart">
                                            <a href="#">Add to cart</a>
                                        </div>
                                        <div class="add-to-links">
                                            <div class="add-to-wishlist">
                                                <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
												</a>
                                            </div>
                                            <div class="compare-button">
                                                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                            </div>
                                        </div>
                                        <div class="quickviewbtn">
                                            <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2 class="product-name"><a href="#">QiQi phá cách</a></h2>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <div class="price-box">
                                    <span class="new-price">£90.00</span>
                                    <span class="old-price">£120.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product end -->
                    <!-- single-product start -->
                    <div class="col-lg-3 col-md-3">
                        <div class="single-product">
                            <span class="sale-text">Sale</span>
                            <div class="product-img">
                                <a href="#">
                                    <img class="primary-image" src="https://imgur.com/ikYbxmR.jpg" alt="" />
                                    <img class="secondary-image" src="https://imgur.com/ReUQrVy.jpg" alt="" />
                                </a>
                                <div class="actions">
                                    <div class="action-buttons">
                                        <div class="add-to-cart">
                                            <a href="#">Add to cart</a>
                                        </div>
                                        <div class="add-to-links">
                                            <div class="add-to-wishlist">
                                                <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
												</a>
                                            </div>
                                            <div class="compare-button">
                                                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                            </div>
                                        </div>
                                        <div class="quickviewbtn">
                                            <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2 class="product-name"><a href="#">QiQi phá cách</a></h2>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>+
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <div class="price-box">
                                    <span class="new-price">£50.00</span>
                                    <span class="old-price">£80.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product end -->
                    <!-- single-product start -->
                    <div class="col-lg-3 col-md-3">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="#">
                                    <img class="primary-image" src="https://imgur.com/ikYbxmR.jpg" alt="" />
                                    <img class="secondary-image" src="https://imgur.com/ReUQrVy.jpg" alt="" />
                                </a>
                                <div class="actions">
                                    <div class="action-buttons">
                                        <div class="add-to-cart">
                                            <a href="#">Add to cart</a>
                                        </div>
                                        <div class="add-to-links">
                                            <div class="add-to-wishlist">
                                                <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
												</a>
                                            </div>
                                            <div class="compare-button">
                                                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                            </div>
                                        </div>
                                        <div class="quickviewbtn">
                                            <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2 class="product-name"><a href="#">QiQi phá cách</a></h2>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <div class="price-box">
                                    <span class="new-price">£90.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product end -->
                    <!-- single-product start -->
                    <div class="col-lg-3 col-md-3">
                        <div class="single-product">
                            <span class="sale-text">Sale</span>
                            <div class="product-img">
                                <a href="#">
                                    <img class="primary-image" src="https://imgur.com/ikYbxmR.jpg" alt="" />
                                    <img class="secondary-image" src="https://imgur.com/ReUQrVy.jpg" alt="" />
                                </a>
                                <div class="actions">
                                    <div class="action-buttons">
                                        <div class="add-to-cart">
                                            <a href="#">Add to cart</a>
                                        </div>
                                        <div class="add-to-links">
                                            <div class="add-to-wishlist">
                                                <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-star"></i>
												</a>
                                            </div>
                                            <div class="compare-button">
                                                <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                                            </div>
                                        </div>
                                        <div class="quickviewbtn">
                                            <a href="#" data-toggle="tooltip" title="Quick View"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2 class="product-name"><a href="#">QiQi phá cách</a></h2>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <div class="price-box">
                                    <span class="new-price">£90.00</span>
                                    <span class="old-price">£120.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-product end -->

                </div>
            </div>
        </div>
    </div>
    <!-- footer start -->
<footer>
    <!-- footer-bottom-area start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="copyright">
                        <p>Copyright © <a href="https://www.facebook.com/trinhngoc.quang123">TNQ</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom-area end -->
</footer>
<!-- footer end -->